:root{
    --ll-primary: #f9b550;
    --ll-primary-light: #f6d9af;
    --ll-primary-dark: #da8d19;
    --ll-primary-disabled: #fff0d9;
    --ll-secondary: #fcfcf8;
    --ll-grey: #575757;
    --ll-black: #000000;
    --ll-green : #11d60b;
    --ll-red-button: #e3211e;

    --cc-secondary-translucent: rgba(248, 248, 240, 0.85);
}

* {
    font-family: 'Silka', sans-serif;
}

.lpblock1 {
    background-color: var(--ll-primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: var(--ll-secondary);
    padding: 200px;
}

.lpblock2 {
    background-color: var(--ll-secondary);
    margin-bottom: 40vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
