:root{
    --primary: #0587D0;
    --primary-light: #1e9be3;
    --primary-dark: #0878ba;
    --secondary: #222222;
    --off-white: #fcfcf8;
    --accent-crimson: #E23636;
    --accent-saffron: #FFE601;
    --accent-forest-green: #228B22;
    --accent-lime: #54DD3E;
    --accent-titanium-white: #FFFFFF;	
}

@keyframes colorChange {
    0% { background-color: var(--primary) }
    40% { background-color: var(--primary-dark) }
    70% { background-color: var(--primary-light); }
    100% { background-color: var(--primary); }
}

@keyframes colorChangeGoogle {
    0% { color: var(--off-white); }
    20% { color: var(--accent-crimson) }
    40% { color: var(--accent-forest-green) }
    60% { color: var(--primary); }
    80% { color: var(--accent-saffron); }
    100% { color: var(--off-white); }
}

.auth-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: colorChange 10s infinite;
}

.auth-card {
    height: 70%;
    min-height: 350px;
    width: 70%;
    border-radius: 16px;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.auth-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-title {
    margin: 0;
    font-size: xx-large;
    color: var(--secondary);
}

.auth-title-span-wrapper {
    margin: 0;
}

.auth-span {
    font-size: 500%;
    font-weight: bolder;
}

.auth-l {
    color: var(--accent-crimson);
}

.auth-e {
    color: var(--accent-lime);
}

.auth-g {
    color: var(--primary);
}

.auth-o {
    color: var(--accent-saffron);
}

.auth-log {
    color: var(--secondary);
}

.auth-r {
    margin: 0;
    font-size: smaller;
    font-weight: lighter;
    color: var(--secondary);
}

.auth-middle-divider {
    margin: 0;
    width: 3px;
    height: 90%;
    background-color: var(--secondary);
}

.auth-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80%;
    width: 40%;
}

.auth-signin-error {
    margin: 0 0 2% 0;
    font-size: medium;
    color: var(--accent-crimson);
    text-align: center;
}

.auth-google-btn {
    height: 16%;
    min-height: 48px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: large;
    color: var(--accent-titanium-white);
    background-color: var(--secondary);
}

.auth-google-btn:hover {
    cursor: pointer;
    animation: colorChangeGoogle 4s infinite;
}

.auth-spacer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin: 2% 0;
}

.auth-hr {
    width: 40%;
    height: 2px;
    background-color: var(--secondary);
    border: none;
}

.auth-text {
    margin: 0;
    font-size: medium;
    color: var(--secondary);
}

.auth-subtitle {
    margin: 0 0 2% 0;
    font-size: larger;
    font-weight: normal;
    color: var(--secondary);
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 58%;
    width: 100%;
}

.auth-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 18%;
    min-height: 48px;
    width: 100%;
    margin: 0 0 5% 0;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    padding: 1% 3%;
}

.auth-input, .auth-input:focus, .auth-input-hover {
    width: 80%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: medium;
    color: var(--secondary);
    background-color: transparent;
    outline: none;
}

.auth-eye {
    height: 50%;
    max-width: 32px;
    color: var(--secondary);
}

.auth-eye:hover {
    cursor: pointer;
}

.auth-submit-btn {
    height: 16%;
    min-height: 48px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1% 2%;
    font-size: large;
    color: var(--off-white);
    background-color: var(--primary);
}

.auth-submit-btn:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}

.auth-toggle-register {
    height: 8%;
    margin: 8px 0;
    border: none;
    font-size: small;
    color: var(--primary);
    background-color: transparent;
}

.auth-toggle-register:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .auth-wrapper {
        height: fit-content;
        min-height: 92vh;
        padding: 4vh 0;
    }
    .auth-card {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        width: 90%;
    }
    .auth-title-wrapper {
        height: fit-content;
        width: 100%;
        padding: 5vh 0;
    }
    .auth-span {
        font-size: 380%;
    }
    .auth-r {
        font-size: x-large;
    }
    .auth-middle-divider {
        display: none;
    }
    .auth-content-wrapper{
        justify-content: flex-start;
        min-height: 50vh;
        width: 90%;
    }
}
