:root{
    --primary-light: #1e9be3;
    --primary-dark: #0878ba;
    --primary-disabled: #DEEDF5;
    --secondary-light: #555555;
    --secondary-disabled: #DBDBDB;
    --off-white: #fcfcf8;
    --accent-crimson: #E23636;
    --accent-orange-dark: #ff9100;
    --accent-titanium-white: #FFFFFF;	
    --accent-black: #000000;
}

.com-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 88vh;
    min-height: fit-content;
    width: 100%;
    padding-top: 12vh;
    background-color: var(--primary-disabled);
}

.com-tab-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 64px;
    width: fit-content;
    min-width: 80%;
    margin-bottom: 16px;
    border: 2px solid var(--secondary-light);
    background-color: var(--off-white);
}

.com-tab-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.com-tab-btn {
    height: 80%;
    width: 240px;
    margin: 0 48px;
    font-size: large;
    color: var(--secondary-light);
    border: none;
    background-color: var(--off-white);
}

.com-tab-active {
    font-size: larger;
    color: var(--accent-orange-dark);
}

.com-tab-btn:hover {
    cursor: pointer;
    font-size: larger;
}

.com-tab-underline {
    height: 2px;
    width: 50%;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-light);
}

.com-tab-underline-active {
    height: 4px;
    background-color: var(--accent-orange-dark);
}

.com-bottom-wrapper-col {
    width: 85%;
    padding: 32px 0;
}

.com-post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    margin: 16px 0;
    padding: 24px 32px;
    border-radius: 8px;
    background-color: var(--accent-titanium-white);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.com-post-top-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    margin-left: 16px;
}

.com-post-img {
    height: 64px;
    width: 64px;
}

.com-posts-username {
    margin-bottom: 8px;
    margin-left: 32px;
    font-size: x-large;
}

.com-posts-divider {
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--secondary-disabled);
}

.com-posts-text {
    margin-bottom: 0;
}

.com-post-delete-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
}

.com-trash-icon {
    margin: 4px;
    color: var(--accent-crimson);
}

.com-trash-icon:hover {
    cursor: pointer;
}

.com-posts-btn {
    position: fixed;
    right: 160px;
    bottom: 64px;
    width: 280px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: large;
    color: var(--off-white);
    background-color: var(--primary-light);
}

.com-posts-btn:hover {
    cursor: pointer;
    font-size: large;
    background-color: var(--primary-dark);
}

.com-bottom-wrapper-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 70vh;
    width: 90%;
    padding: 0;
}

.com-stats-card-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    margin: 40px;
    padding: 0 32px 32px 32px;
    border-radius: 2px;
    background-color: var(--accent-titanium-white);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.com-pin-icon-wrapper {
    height: 40px;
    width: 40px;
    margin: 8px;
}

.com-pin-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.com-stats-card-small-title {
    font-size: x-large;
    font-weight: normal;
}

.com-stats-card-small-img-wrapper {
    height: 160px;
    width: 160px;
}

.com-stats-card-small-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.com-stats-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 400px;
    margin: 16px;
    padding: 0 8px 32px 8px;
    border-radius: 2px;
    background-color: var(--accent-titanium-white);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.com-stats-pin-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.com-stats-card-text {
    margin: 8px 24px;
    font-size: larger;
    font-weight: normal;
}

.com-bottom-wrapper-moc {
    width: 60%;
    padding: 0 0 32px 0;
}

.com-moc-img-wrapper {
    height: 300px;
    width: 100%;
    margin: 16px;
}

.com-moc-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.com-moc-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.com-moc-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 16px;
}

.com-moc-text-icon-group {
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 30%;
}

.com-piece-icon-wrapper {
    height: 20px;
    width: 20px;
    margin-top: -2px;
}

.com-piece-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.com-cal-icon {
    margin: 1px 3px 0 0;
    color: var(--secondary-light);
}

.com-moc-details-text {
    margin: 0;
    color: var(--secondary-light);
}






