:root{
    --secondary: #222222;
    --secondary-translucent: rgba(0, 0, 0, 0.6);
    --accent-titanium-white: #FFFFFF;	
}

.home-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 93vh;
    padding-top: 7vh;
}

.home-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 86%;
    width: 86%;
}

.home-left-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.home-btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96%;
    width: 96%;
    border: none;
    border-radius: 16px;
    background-image: url(/src/assets/images/boxes5.JPG);
    background-position: center;
    background-size: cover;
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
    transition: height 0.5s ease, width 0.5s ease;
}

.home-btn-primary:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.home-text-wrapper {
    width: 60%;
    margin-top: 20%;
    border-radius: 12px;
    background-color: var(--secondary-translucent);
    transition: background-color 0.7s ease-in;
}

.home-btn-primary:hover .home-text-wrapper{
    background-color: var(--secondary);
}

.home-text {
    margin: 15px auto;
    font-size: xx-large;
    font-weight: lighter;
    color: var(--accent-titanium-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.home-right-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.home-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24%;
    width: 100%;
}

.home-btn {
    height: 80%;
    width: 94%;
    border: none;
    border-radius: 16px;
    font-size: x-large;
    color: var(--accent-titanium-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);    
    transition: height 0.5s ease, width 0.5s ease;
}

.home-btn:hover {
    cursor: pointer;
    height: 90%;
    width: 98%;
    margin: 0;
    font-size: xx-large;
}

.home-pieces-image {
    background-image: url(/src/assets/images/blue-lego-bricks.jpeg);
    background-position: center;
    background-size: cover;
}

.home-stats-image {
    background-image: url(/src/assets/images/Lego-Trend.jpg);
    background-position: center;
    background-size: cover;
}

/*
.home-browse-image {
    background-image: url(/src/assets/images/legostore.jpeg);
    background-position: center;
    background-size: cover;
}
*/

.home-online-image {
    background-image: url(/src/assets/images/stormtrooper-computer-edited.jpeg);
    background-position: center;
    background-size: cover;
}

@media (max-aspect-ratio: 1/1) {
    /* Styles for screens where width is less than height */
    .home-wrapper {
        flex-direction: column;
    }
    .home-content-wrapper {
        height: 95%;
        width: 92%;
    }
    .home-left-ctr {
        height: 30%;
        width: 96%;
    }
    .home-btn-primary, .home-btn {
        width: 100%;
    }
    .home-right-ctr {
        height: 70%;
        width: 96%;
    }
}
