:root{
    --primary: #0587D0;
    --primary-light: #64B4E2;
    --primary-dark: #4F7292;
    --primary-disabled: #DEEDF5;
    --primary-translucent: rgba(5, 135, 208, 0.7);

    --secondary: #222222;
    --secondary-light: #555555;
    --secondary-dark: #161616;
    --secondary-disabled: #DBDBDB;
    --secondary-translucent: rgba(0, 0, 0, 0.6);

    --background: #ECECEC;

    --accent-crimson: #E23636;
    --accent-saffron: #FFE601;
    --accent-forest-green: #228B22;
    --accent-lime: #54DD3E;
    --accent-orange: #FFA800;
    --accent-pink: #F351A9;
    --accent-purple: #9E07FA;
    --accent-cobalt: #0047AB;
    --accent-sky-blue: #87CEEB;
    --accent-titanium-white: #FFFFFF;	
    --accent-black: #000000;
    --accent-burnt-sienna: #AB4A13;
    --accent-sand-green: #A0BCAC;
}
