:root{
    --primary: #0587D0;
    --primary-disabled: #DEEDF5;
    --secondary: #222222;
    --secondary-light: #555555;
    --secondary-disabled: #DBDBDB;
    --off-white: #fcfcf8;
    --accent-crimson: #E23636;
    --accent-saffron: #FFE601;
    --accent-lime: #54DD3E;
}

* {
    font-family: 'Silka', sans-serif;
}


/***************************************************************************************************************************************/
/* code for the nav bar */
/***************************************************************************************************************************************/


.lp-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    height: 60px;
    padding: 0.6% 1% 0.4% 2%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.lp-scrolled {
    background-color: var(--secondary);
}

.lp-nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
}

.lp-nav-logo {
    height: 48px;
    width: 48px;
    margin-right: 12px;
}

.lp-scrolled-logo {
    display: none;
}

.lp-span {
    display: none;
}

.lp-scrolled-text {
    display: contents;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.lp-l {
    color: var(--accent-crimson);
}

.lp-e {
    color: var(--accent-lime);
}

.lp-g {
    color: var(--primary);
}

.lp-o {
    color: var(--accent-saffron);
}

.lp-log {
    color: var(--off-white);
}

.lp-nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lp-nav-btn, .lp-nav-btn-primary {
    margin-right: 24px;
    font-size: larger;
    color: var(--off-white);
    background-color: transparent;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.lp-nav-btn {
    padding: 0;
    border: 2px solid transparent;
}

.lp-nav-btn-primary {
    padding: 8px 12px;
    border: 2px solid var(--off-white);
    border-radius: 8px;
}

.lp-nav-btn:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--off-white);
}

.lp-nav-btn-primary:hover {
    cursor: pointer;
    border: 2px solid var(--primary-disabled);
    color: var(--primary-disabled);
}


/***************************************************************************************************************************************/
/* code for the landing page */
/***************************************************************************************************************************************/


.lp-block-1 {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(/src/assets/images/train1.png);
    background-position: center;
    background-size: cover;
}

.lp-block1-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 74vh;
    width: 80%;
}

.lp-block1-title {
    font-size: 280%;
    font-weight: normal;
    color: var(--off-white);
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.lp-cta {
    height: 11%;
    min-height: fit-content;
    min-width: 22%;
    border: 3px solid var(--primary);
    font-size: x-large;
    color: var(--off-white);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    transition: background-color 1s ease;
}

.lp-cta:hover {
    cursor: pointer;
    text-shadow: none;
    background-color: var(--primary);
}

.lp-block-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 62vh;
    width: 70%;
    padding: 0 15%;
    background-color: var(--off-white);
}

.lp-reverse-display{
    flex-direction: row-reverse;
}

.lp-block2-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 40%;
}

.lp-block2-title {
    width: 100%;
    margin-top: 0;
    font-size: 300%;
}

.lp-block2-text {
    margin-top: 0;
    font-size: x-large;
}

.right-align {
    text-align: right;
}

.lp-block2-img-wrapper {
    height: 75%;
    width: 50%;
}

.lp-block2-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 3px solid var(--secondary-disabled);
}

.lp-block3-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 70%;
    padding: 0 15%;
    background-color: var(--primary);
}

.lp-block3-title {
    margin: 0;
    font-size: 270%;
    color: var(--off-white);
    text-align: center;
}

.lp-block3-subtitle {
    font-size: large;
    font-weight: normal;
    color: var(--off-white);
    text-align: center;
}

.lp-block-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    min-height: 80vh;
    width: 70%;
    padding: 0 15%;
    background-color: var(--primary);
}

.lp-tier-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 22%;
    min-width: 200px;
    margin: 0 1% 2vh 1%;
    padding: 2% 3%;
    border: 2px solid var(--primary-disabled);
    border-radius: 16px;
    background-color: var(--off-white);
}

.lp-tier-title {
    width: 100%;
    margin-bottom: 8px;
    font-size: x-large;
}

.lp-tier-subtitle {
    width: 100%;
    margin: 0;
    font-size: smaller;
    text-align: left;
}

.lp-tier-span-wrapper {
    margin: 2vh 0;
}

.lp-tier-span-small {
    font-size: larger;
}

.lp-tier-span-large {
    font-size: 300%;
    font-weight: bold;
}

.lp-tier-btn {
    height: 5.5vh;
    min-height: fit-content;
    width: 100%;
    border: 2px solid var(--primary);
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 1s ease, color 1s ease;
}

/* remove this section when all plan options are available and class from js */
.lp-tier-btn-active {
    width: 100%;
    height: 5.5vh;
    min-height: fit-content;
    border: 2px solid var(--primary);
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 1s ease, color 1s ease;
}

/* remove '-active' when all plan options are available */
.lp-tier-btn-active:hover {
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--primary);
}

.lp-tier-divider {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    border: none;
    background-color: var(--secondary-light);
}

.lp-tier-feature {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 8px 0;
}

.lp-check {
    margin-right: 2%;
    color: var(--accent-lime);
}

.lp-minus {
    margin-right: 2%;
    color: var(--secondary-light);
}

.lp-greyed {
    color: var(--secondary-light);
}

.lp-tier-text {
    margin: 0;
    font-size: medium;
}

.lp-block-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 70%;
    padding: 0 15%;
    background-color: var(--off-white);
}

.lp-block4-img-wrapper {
    height: 85%;
    width: 40%;
}

.lp-block4-content-wrapper {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.lp-cta-bottom {
    height: 15%;
    min-width: 48%;
    margin-top: 10%;
    margin-right: 10%;
    border: 3px solid var(--primary);
    font-size: x-large;
    color: var(--secondary);
    background-color: transparent;
    transition: background-color 1s ease, color 1s ease;
}

.lp-cta-bottom:hover {
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--primary);
}


/***************************************************************************************************************************************/
/* code for the footer */
/***************************************************************************************************************************************/


.lp-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 70%;
    padding: 5vh 15% 0 15%;
    background-color: var(--primary);
}

.lp-footer-text {
    width: 100%;
    font-size: large;
    font-weight: normal;
    color: var(--off-white);
    text-align: center;
}

.lp-footer-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 40%;
}

.lp-footer-btn {
    min-width: 30%;
    border: 2px solid var(--off-white);
    font-size: large;
    color: var(--off-white);
    background-color: transparent;
}

.lp-footer-btn:hover {
    cursor: pointer;
    border: 2px solid var(--primary-disabled);
    color: var(--primary-disabled);
}

.lp-footer-a-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
}

.lp-footer-a {
    color: var(--off-white);
    text-decoration: none;
}

.lp-footer-a:hover {
    cursor: pointer;
    color: var(--primary-disabled);
}

.lp-footer-copyright-text {
    width: 100%;
    font-size: small;
    font-weight: normal;
    color: var(--off-white);
    text-align: center;
}


/***************************************************************************************************************************************/
/* code for the payments page */
/***************************************************************************************************************************************/


.payments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 80vh;
    width: 100%;
    padding: 20vh 0 0 0;
    background-color: var(--primary);
}


/***************************************************************************************************************************************/
/* code for the about page */
/***************************************************************************************************************************************/


.about-wrapper {
    display: flex;
}


/***************************************************************************************************************************************/
/* corrections for other screen sizes */
/***************************************************************************************************************************************/


@media screen and (max-height: 1100px) {
    .lp-block-2, .lp-block-4 {
        flex-direction: column;
        min-height: fit-content;
        width: 90%;
        padding: 5vh 5%;
    }
    .lp-block2-content-wrapper {
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin-bottom: 4vh;
    }
    .lp-block2-title, .lp-block2-text {
        text-align: center;
    }
    .lp-block2-img-wrapper {
        height: 70vh;
        width: 100%;
    }
    .lp-block3-title-wrapper {
        height: fit-content;
        padding-top: 5vh;
    }
    .lp-block-3 {
        width: 90%;
        padding: 0 5%;
    }
    .lp-tier-card {
        width: 90%;
        margin-bottom: 6vh;
        padding: 2% 5%;
    }
    .lp-tier-btn {
        height: 8vh;
        width: 60%;
        border-radius: 6px;
    }
    .lp-tier-btn-active {
        height: 8vh;
        width: 60%;
        border-radius: 6px;
    }
    .lp-block4-content-wrapper {
        height: fit-content;
        width: 90%;
        padding: 5vh;
    }
    .lp-block4-img-wrapper {
        height: 100vh;
        width: 100%;
    }
    .lp-footer {
        width: 90%;
        padding: 2vh 5% 0 5%;
    }
    .lp-footer-top-wrapper {
        width: 70%;
    }
}

@media (max-aspect-ratio: 1/1) {
    /* Styles for screens where width is less than height */
    .lp-nav-btn {
        display: none;
    }
    .lp-block-2, .lp-block-4 {
        flex-direction: column;
        min-height: fit-content;
        width: 90%;
        padding: 5vh 5%;
    }
    .lp-block2-content-wrapper {
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin-bottom: 4vh;
    }
    .lp-block2-title, .lp-block2-text {
        text-align: center;
    }
    .lp-block2-img-wrapper {
        height: 50vh;
        width: 100%;
    }
    .lp-block3-title-wrapper {
        height: fit-content;
        padding-top: 5vh;
    }
    .lp-block-3 {
        width: 90%;
        padding: 0 5%;
    }
    .lp-tier-card {
        width: 90%;
        margin-bottom: 6vh;
        padding: 2% 5%;
    }
    .lp-block4-content-wrapper {
        height: fit-content;
        width: 90%;
        padding: 5vh;
    }
    .lp-block4-img-wrapper {
        height: 80vh;
        width: 90%;
    }
    .lp-cta-bottom {
        margin: 4vh 0 0 0;
    }
    .lp-footer {
        width: 90%;
        padding: 2vh 5% 0 5%;
    }
    .lp-footer-top-wrapper {
        width: 70%;
    }
}
