:root{
    --primary: #0587D0;
    --primary-light: #1e9be3;
    --primary-dark: #0878ba;
    --primary-disabled: #DEEDF5;

    --secondary: #222222;
    --secondary-light: #555555;
    --secondary-dark: #161616;
    --secondary-disabled: #DBDBDB;

    --off-white: #fcfcf8;

    --accent-crimson: #E23636;
    --accent-saffron: #FFE601;
    --accent-forest-green: #228B22;
    --accent-lime: #54DD3E;
    --accent-orange: #FFA800;
    --accent-orange-dark: #ff9100;
    --accent-orange-disabled: #ffe4ab;
    --accent-pink: #F351A9;
    --accent-purple: #9E07FA;
    --accent-cobalt: #0047AB;
    --accent-sky-blue: #87CEEB;
    --accent-titanium-white: #FFFFFF;	
    --accent-black: #000000;
    --accent-burnt-sienna: #AB4A13;
    --accent-sand-green: #A0BCAC;
}

.sd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 87vh;
    min-height: fit-content;
    width: 100%;
    padding-top: 13vh;
    background-color: var(--primary-disabled);
}

.sd-set-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 50vh;
    width: 70%;
    margin-bottom: 5vh;
    padding: 5vh 0;
    border-radius: 24px;
    background-color: var(--accent-titanium-white);
}

.sd-img-wrapper {
    width: 40%;
    height: 80%;
}

.sd-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sd-set-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 80%;
    width: 30%;
}

.sd-subtitle {
    margin: 0 0 4px 0;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.sd-text {
    margin: 0;
    font-size: x-large;
}

.sd-set-info-wrapper {
    width: 75%;
}

.sd-li {
    margin: 4px 0;
    font-size: large;
}

.sd-edit-btn {
    height: fit-content;
    min-height: 40px;
    width: fit-content;
    min-width: 50%;
    margin-top: 8px;
    padding: 4px;
    border: none;
    border-radius: 12px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--secondary-dark);
}

.sd-edit-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
}

.sd-piece-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 70%;
    padding: 24px 0;
    border-radius: 24px;
    background-color: var(--accent-titanium-white);
}
