:root{
    --primary: #0587D0;
    --primary-dark: #0878ba;
    --primary-disabled: #DEEDF5;
    --secondary: #222222;
    --secondary-light: #555555;
    --secondary-dark: #161616;
    --off-white: #fcfcf8;
    --accent-crimson: #E23636;
    --accent-titanium-white: #FFFFFF;	
}

.sd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 87vh;
    min-height: fit-content;
    width: 100%;
    padding-top: 13vh;
    background-color: var(--primary-disabled);
}

.sd-set-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 50vh;
    width: 70%;
    margin-bottom: 5vh;
    padding: 24px 0;
    border-radius: 24px;
    background-color: var(--accent-titanium-white);
}

.sd-img-wrapper {
    height: 80%;
    width: 40%;
}

.sd-img {
    height: 100%;
    max-height: 350px;
    width: 100%;
    object-fit: contain;
}

.sd-set-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 80%;
    width: 30%;
}

.sd-subtitle {
    margin: 0 0 4px 0;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.sd-text {
    margin: 0;
    font-size: x-large;
}

.sd-set-info-wrapper {
    width: 80%;
}

.sd-li {
    margin: 4px 0;
    font-size: large;
}

.sd-btn {
    height: fit-content;
    min-height: 40px;
    width: fit-content;
    padding: 4px 24px;
    border: none;
    border-radius: 12px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--secondary-dark);
}

.sd-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
}

.sd-piece-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 70%;
    margin-bottom: 3vh;
    padding: 24px 0;
    border-radius: 24px;
    background-color: var(--accent-titanium-white);
}

.sd-piece-card-title {
    font-size: x-large;
}

.sd-piece-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0;
}

.sd-piece-li {
    list-style-type: disc; /* Restores bullet points */
    width: 96%;
    margin: 0 4% 4px 0;
}

.sd-piece-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sd-icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
}

.sd-icon {
    margin: 0 8px;
    color: var(--secondary);
}

.sd-disabled-icon {
    pointer-events: none; /* Prevent clicks */
    opacity: 0.5; /* Make it look disabled */
    cursor: not-allowed;
}

.sd-icon:hover {
    cursor: pointer;
}

.sd-icon-trash:hover {
    color: var(--accent-crimson);
}

.sd-back-btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
}

.sd-back-btn {
    height: fit-content;
    min-height: 40px;
    width: fit-content;
    margin: 0 48px 12px 0;
    padding: 4px 64px;
    border: none;
    border-radius: 12px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--primary);
}

.sd-back-btn:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}


@media screen and (max-height: 500px) {
    .sd-wrapper {
        height: 83vh;
        padding-top: 17vh;
    }
    .sd-set-card {
        flex-direction: column;
        width: 90%;
    }
    .sd-img-wrapper {
        height: fit-content;
        width: 70%;
    }    
    .sd-set-content-wrapper {
        min-height: 0;
        width: 80%;
    }
    .sd-set-info-wrapper {
        width: 60%;
    }
    .sd-btn:hover {
        background-color: var(--secondary);
    }
    .sd-piece-card {
        width: 90%;
    }
    .sd-piece-card-title {
        margin: 8px 0;
    }
    .sd-piece-ul {
        width: 80%;
    }    
    .sd-back-btn-wrapper {
        justify-content: center;
        width: 90%;
    }
    .sd-back-btn {
        margin: 12px 0 48px 0;
        padding: 4px 72px;
    }
}

@media (max-aspect-ratio: 1/1) {    
    .sd-set-card {
        flex-direction: column;
        width: 90%;
    }
    .sd-img-wrapper {
        height: fit-content;
        width: 80%;
    }
    .sd-set-content-wrapper {
        min-height: 0;
        width: 80%;
    }    
    .sd-set-info-wrapper {
        width: 60%;
    }
    .sd-li {
        margin: 4px 0;
        font-size: large;
    }    
    .sd-btn:hover {
        background-color: var(--secondary);
    }
    .sd-piece-card {
        width: 90%;
    }    
    .sd-piece-card-title {
        margin: 4px 0;
    }
    .sd-back-btn-wrapper {
        justify-content: center;
        width: 90%;
    }   
    .sd-back-btn {
        margin: 0 0 40px 0;
    }
}
