:root{
    --primary: #0587D0;
    --primary-light: #1e9be3;
    --primary-dark: #0878ba;
    --primary-disabled: #DEEDF5;
    --secondary: #222222;
    --secondary-light: #555555;
    --secondary-dark: #161616;
    --secondary-disabled: #DBDBDB;
    --off-white: #fcfcf8;
    --accent-orange: #FFA800;
    --accent-orange-dark: #ff9100;
    --accent-orange-disabled: #ffe4ab;
    --accent-titanium-white: #FFFFFF;	
    --accent-black: #000000;
    --accent-burnt-sienna: #AB4A13;
}


* {
    font-family: 'Silka', sans-serif;
}

.sets-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 91vh;
    padding-top: 9vh;
}

/***************************************************************************************************************************************/
/* code for the modal */
/***************************************************************************************************************************************/

.browse-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.browse-modal-text {
    font-size: x-large;
    font-weight: normal;
    color: var(--off-white);
}

.browse-modal-button {
    width: fit-content;
    margin: 0;
    padding: 4px 24px;
    border: none;
    border-radius: 16px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--secondary);
}

.browse-modal-button:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
}

/***************************************************************************************************************************************/
/* code for shared header block */
/***************************************************************************************************************************************/

.sets-title-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    height: fit-content;
    width: 97%;
}

.sets-title {
    width: fit-content;
    margin: 16px 4vw;
    font-size: 240%;
    text-wrap-mode: nowrap;
}

.sets-redirect-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    min-width: fit-content;
    height: fit-content;
    padding: 0 3% 4px 3%;
}

.sets-redirect-btn {
    height: fit-content;
    min-height: 36px;
    width: 50%;
    min-width: fit-content;
    padding: 0 24px;
    border: none;
    border-radius: 8px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--secondary-light);
    transition: background-color 0.4s ease;
}

.sets-redirect-btn:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.sets-primary-btn {
    padding: 4px 24px;
    background-color: var(--primary);
}

.sets-primary-btn:hover {
    background-color: var(--primary-dark);
}

/***************************************************************************************************************************************/
/* code for browse page header bar for searching */
/***************************************************************************************************************************************/

.browse-header-wrapper, .us-header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 93%;
    margin-bottom: 2vh;
    padding: 1vh 2%;
    background-color: var(--secondary);
}

.browse-toggle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.browse-toggle-text {
    color: var(--off-white);
    width: fit-content;
    text-wrap-mode: nowrap;
}

.browse-select {
    padding: 4px 2%;
    margin-left: 16px;
    border: none;
    font-size: large;
}

.browse-select:hover {
    cursor: pointer;
}

.browse-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    min-width: fit-content;
}

.browse-input {
    width: 70%;
    padding: 8px 3%;
    border: none;
    font-size: large;
}

.browse-icon {
    margin: 0 2% 0 1%;
    color: var(--secondary-disabled);
}

.browse-icon:hover {
    cursor: pointer;
}

.browse-search-btn {
    padding: 12px 3%;
    border: none;
    border-radius: 8px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--primary);
}

.browse-search-btn:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}

/***************************************************************************************************************************************/
/* code for user sets page header bar for sorting and filtering */
/***************************************************************************************************************************************/

.us-header-wrapper {
    padding: 2vh 2%;
}

.us-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 45%;
    min-width: fit-content;
}

.us-form-title {
    margin: 0;
    font-size: larger;
    font-weight: normal;
    color: var(--off-white);
}

.us-form-hr {
    height: 0px;
    width: 60%;
    margin-top: 2px;
    border: 1px solid var(--off-white);
    color: var(--off-white);
}

.us-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: fit-content;
}

.us-select {
    width: 30%;
    min-width: 120px;
    margin: 0 1%;
    padding: 8px 3%;
    border: none;
    border-radius: 8px;
    font-size: medium;
    text-align: center;
}

.us-form-btn {
    width: fit-content;
    margin: 0 1%;
    padding: 6px 3%;
    border: none;
    border-radius: 8px;
    font-size: medium;
    color: var(--off-white);
    background-color: var(--accent-orange);
}

.us-secondary-btn {
    color: var(--secondary);
    background-color: var(--secondary-disabled);
}

.us-form-btn:hover {
    cursor: pointer;
    background-color: var(--accent-orange-dark);
}

.us-form-btn:disabled {
    cursor: not-allowed;
    background-color: var(--accent-orange-disabled);
}

.us-secondary-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-disabled);
}

.us-sort-icon {
    color: var(--off-white);
    margin-right: 2%;
}

.us-sort-icon:hover {
    cursor: pointer;
    color: var(--accent-orange-dark);
}

/***************************************************************************************************************************************/
/* code for shared set display block */
/***************************************************************************************************************************************/

.sets-sets-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    height: fit-content;
    width: 97%;
}

.sets-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-height: 400px;
    width: 350px;
    border: 1px solid var(--secondary-disabled);
    box-sizing: border-box;
}

.sets-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.sets-img {
    height: 100%;
    width: 90%;
    object-fit: contain;
}

.sets-no-image-message {
    color: var(--secondary-light);
}

.sets-divider {
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--secondary-disabled);
}

.sets-set-title-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

.sets-set-title {
    margin: 0 8px;
    text-align: center;
}

.sets-set-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sets-set-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 4px 0;
}

.sets-set-text {
    margin: 16px 0 8px 0;
    color: var(--secondary-light);
}

.us-set-text {
    margin: 0 4% 0 0;
    color: var(--secondary-light);
}

.us-set-text-icon-group {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.us-piece-icon-wrapper {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.us-piece-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.us-cal-icon {
    margin: 1px 3px 0 0;
    color: var(--secondary-light);
}

.us-set-bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    padding: 1vh 3%;
}

.us-delete-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.us-set-btn {
    width: fit-content;
    padding: 8px 48px;
    border: none;
    border-radius: 16px;
    font-size: large;
    color: var(--off-white);
    background-color: var(--secondary);
}

.us-set-btn:hover {
    cursor: pointer;
    background-color: var(--accent-black);
}

.us-delete-icon {
    color: var(--accent-crimson);
}

.us-delete-icon:hover {
    cursor: pointer;
    color: var(--accent-burnt-sienna);
}

.sets-set-btn {
    width: fit-content;
    margin: 0 0 8px 0;
    padding: 4px 16px;
    border: none;
    border-radius: 16px;
    font-size: large;
    color: var(--off-white);
    background-color: var(--primary);
}

.sets-set-btn:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}

.sets-load-more-btn {
    width: fit-content;
    margin: 24px 0 48px 0;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-size: larger;
    color: var(--off-white);
    background-color: var(--secondary);
}

.sets-load-more-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
}

.browse-no-sets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/***************************************************************************************************************************************/
/* code for the browse footer */
/***************************************************************************************************************************************/

.browse-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    min-height: fit-content;
    width: 70%;
    padding: 0 15%;
}

.browse-footer-text {
    font-size: smaller;
    color: var(--secondary-light);
    text-align: center;
}

/***************************************************************************************************************************************/
/* code for different screen sizes */
/***************************************************************************************************************************************/

@media screen and (max-height: 500px) {
    .sets-title-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }    
    .sets-redirect-btn-wrapper {
        justify-content: center
    }
    .sets-redirect-btn {
        border-radius: 18px;
        font-size: medium;
    }    
    .sets-header-wrapper, .us-header-wrapper {
        width: 96%;
        padding: 1vh 2% 2vh 2%;
    }
    .browse-toggle-text {
        font-size: small;
    }
    .browse-toggle-search-btn {
        font-size: large;
    }    
    .browse-toggle-active {
        font-weight: normal;
    }
    .browse-form {
        width: 95%;
        margin-top: 8px;
    }
    .browse-input {
        font-size: medium;
    }
    .browse-icon {
        display: none;
    }   
    .browse-search-btn {
        margin-left: 4px;
        padding: 8px 8%;
        border-radius: 24px;
        font-size: large;
    }    
    .us-form-wrapper {
        padding: 1vh 0;
        min-width: 90%;
    }
    .us-form-btn {
        border-radius: 16px;
    }
    .sets-set {
        width: 280px;
    }
    .sets-load-more-btn {
        border-radius: 20px;
    }
}

@media (max-aspect-ratio: 1/1) {
    .sets-title-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }    
    .sets-redirect-btn-wrapper {
        justify-content: center
    }
    .sets-redirect-custom-btn {
        border-radius: 18px;
        font-size: medium;
    }    
    .sets-header-wrapper, .us-header-wrapper {
        width: 96%;
        padding: 1vh 2% 2vh 2%;
    }
    .browse-toggle-text {
        font-size: small;
    }
    .browse-toggle-search-btn {
        font-size: large;
    }    
    .browse-toggle-active {
        font-weight: normal;
    }
    .browse-form {
        width: 95%;
        margin-top: 8px;
    }
    .browse-input {
        font-size: medium;
    }
    .browse-icon {
        display: none;
    }   
    .browse-search-btn {
        margin-left: 4px;
        padding: 8px 8%;
        border-radius: 24px;
        font-size: large;
    }  
    .us-form-wrapper {
        padding: 1vh 0;
        min-width: 90%;
    }
    .us-form-btn {
        border-radius: 16px;
    }
    .sets-load-more-btn {
        border-radius: 20px;
    }
}
